/* Table section */
.ut-table {
    width: 100%;
    max-width: 1200px; /* Limit table width */
    border-collapse: collapse; /* Ensure borders are collapsed */
    background-color: #282828;
    margin: 0 auto; /* Center table */
    border: none; /* Remove border */
    table-layout: fixed; /* Ensure all columns have the same width */
}

/* Table header and cell styling */
.ut-table__head,
.ut-table__cell {
    padding: 10px;
    text-align: left;
    word-break: break-word;
    border: none; /* Remove border from all cells */
    vertical-align: middle; /* Ensure vertical alignment is consistent */
}

/* Column Styles */
.ut-table__head--status,
.ut-table__cell--status {
    width: 12rem; /* Fixed width for status column */
}

/* Status label */
.ut-status--new {
    background-color: #ff6666;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    width: 100%; /* Ensure the label occupies full available width */
    box-sizing: border-box; /* Prevent overflow of padding */
}

/* Row styles */
.ut-row {
    position: relative; /* Set position for hover effect */
    cursor: pointer; /* Change cursor to pointer */
    background-color: #383838; /* Same background for all rows */
}

/* Hover effect for all rows */
.ut-row:hover {
    background-color: #00f7ff0b; /* Hover background color */
    color: #00f7ff; /* Text color on hover */
}

/* Icon inside row */
.ut-row .ut-row__icon-eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #00f7ff;
    display: none; /* Start hidden */
}

.ut-row:hover .ut-row__icon-eye {
    display: block; /* Show on hover */
}

/* Image inside table */
.ut-image img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 1px; /* Rounded corners */
}

/* Information section inside row */
.ut-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.ut-info__name {
    font-weight: bold;
}

.ut-info__host {
    font-size: 14px;
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 600px) {
    .ut-table__head,
    .ut-table__cell {
        padding: 8px;
        font-size: 14px; /* Adjust font size */
    }

    .ut-image img {
        width: 50px; /* Smaller image size */
        height: 50px; /* Smaller image size */
    }

    .ut-header {
        flex-direction: column; /* Stack header elements */
        align-items: flex-end;
    }

    .ut-header__button {
        margin-top: 10px; /* Space above button */
    }
}


